In [1]:
import pandas as pd
import numpy as np
import os

In [4]:
# Read the Excel file
excel_file = pd.read_excel('data/BZE_LW Deutsche Version/LABORDATEN.xlsx')

# Save it as a CSV file
excel_file.to_csv('LABORDATEN.csv', index=False)

In [2]:
df = pd.read_csv('LABORDATEN.csv')

In [3]:
df.head()

,PointID,Bundesland,Tiefenstufe Obergrenze,Tiefenstufe Untergrenze,Horizont Untergrenze,gS,mS,fS,gU,mU,...,Wassergehalt,Steindichte,TRD_Ges,Skelett_Vol-%,Mn_Ox,Fe_Ox,Al_Ox,Mn_Di,Fe_Di,Al_Di
0,2,SH,0,10,28.0,5.8,33.4,35.4,13.1,3.2,...,20.21,2.65,1.17,2.072453,NaN,NaN,NaN,NaN,NaN,NaN
1,2,SH,10,30,28.0,6.7,32.0,35.8,13.3,3.2,...,19.58,2.65,1.43,2.307925,NaN,NaN,NaN,NaN,NaN,NaN
2,2,SH,30,50,54.0,5.0,27.9,37.8,17.5,3.5,...,15.74,2.65,1.47,2.803774,NaN,NaN,NaN,NaN,NaN,NaN
3,2,SH,50,70,68.0,7.6,31.4,36.6,14.4,3.0,...,11.75,2.65,NaN,10.000000,NaN,NaN,NaN,NaN,NaN,NaN
4,2,SH,70,100,96.0,5.8,43.1,42.3,4.1,1.3,...,5.93,2.65,1.59,3.928302,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17189 entries, 0 to 17188
Data columns (total 35 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   PointID                  17189 non-null  int64
 1   Bundesland               17189 non-null  object
 2   Tiefenstufe Obergrenze   17189 non-null  int64
 3   Tiefenstufe Untergrenze  17189 non-null  int64
 4   Horizont Untergrenze     17186 non-null  float64
 5   gS                       16708 non-null  float64
 6   mS                       16708 non-null  float64
 7   fS                       16708 non-null  float64
 8   gU                       16708 non-null  float64
 9   mU                       16708 non-null  float64
 10  fU                       16708 non-null  float64
 11  Sand                     16708 non-null  float64
 12  Schluff                  16708 non-null  float64
 13  Ton                      16708 non-null  float64
 14  Bodenart                 17189 non-null  object
 15  pH_H2O                   17189 non-null  float64
 16  EC_H2O                   17189 non-null  float64
 17  pH_CaCl2                 17189 non-null  float64
 18  TC                       17189 non-null  float64
 19  TOC                      17189 non-null  float64
 20  TIC                      17189 non-null  float64
 21  TN                       17185 non-null  float64
 22  TS                       2472 non-null   float64
 23  TRD_FB                   17183 non-null  float64
 24  FBV                      17183 non-null  float64
 25  Wassergehalt             17134 non-null  float64
 26  Steindichte              16870 non-null  float64
 27  TRD_Ges                  13400 non-null  float64
 28  Skelett_Vol-%            17171 non-null  float64
 29  Mn_Ox                    1737 non-null   float64
 30  Fe_Ox                    1737 non-null   float64
 31  Al_Ox                    1737 non-null   float64
 32  Mn_Di                    1319 non-null   float64
 33  Fe_Di                    1319 non-null   float64
 34  Al_Di                    1319 non-null   float64
dtypes: float64(30), int64(3), object(2)
memory usage: 4.6+ MB

In [5]:
nan_counts = df.isna().sum()
print(nan_counts)

PointID                        0
Bundesland                     0
Tiefenstufe Obergrenze         0
Tiefenstufe Untergrenze        0
Horizont Untergrenze           3
gS                           481
mS                           481
fS                           481
gU                           481
mU                           481
fU                           481
Sand                         481
Schluff                      481
Ton                          481
Bodenart                       0
pH_H2O                         0
EC_H2O                         0
pH_CaCl2                       0
TC                             0
TOC                            0
TIC                            0
TN                             4
TS                         14717
TRD_FB                         6
FBV                            6
Wassergehalt                  55
Steindichte                  319
TRD_Ges                     3789
Skelett_Vol-%                 18
Mn_Ox                      15452
Fe_Ox                      15452
Al_Ox                      15452
Mn_Di                      15870
Fe_Di                      15870
Al_Di                      15870
dtype: int64

In [6]:
columns_with_nans = nan_counts[nan_counts > 0]
print(columns_with_nans)

Horizont Untergrenze        3
gS                        481
mS                        481
fS                        481
gU                        481
mU                        481
fU                        481
Sand                      481
Schluff                   481
Ton                       481
TN                          4
TS                      14717
TRD_FB                      6
FBV                         6
Wassergehalt               55
Steindichte               319
TRD_Ges                  3789
Skelett_Vol-%              18
Mn_Ox                   15452
Fe_Ox                   15452
Al_Ox                   15452
Mn_Di                   15870
Fe_Di                   15870
Al_Di                   15870
dtype: int64

In [7]:
# Read the Excel files
horizontdaten = pd.read_excel('data/BZE_LW Deutsche Version/HORIZONTDATEN.xlsx')
standort = pd.read_excel('data/BZE_LW Deutsche Version/STANDORT.xlsx')

# Save them as CSV files
horizontdaten.to_csv('HORIZONTDATEN.csv', index=False)
standort.to_csv('STANDORT.csv', index=False)